:root {
    --sans-serif: -apple-system, BlinkMacSystemFont, "avenir next", avenir, helvetica, "helvetica neue", ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
    --serif: "Source Serif Pro", Iowan Old Style, Apple Garamond, Palatino Linotype, Times New Roman, "Droid Serif", Times, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    --code: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono", "Courier New", monospace;
    --body_color: #f1f1f1;
}
  
body {
    font-family: var(--sans-serif);
    padding: 0;
    margin: 0px;
    background-color: body_color;
    padding-top: 60px;
    line-height: 1.6em;
}

header {
    background-color: rgb(255 255 255 / 85%);
    border-bottom: .05rem solid #b8b8b8;
    -webkit-backdrop-filter: blur(10px); /* Fixes blur for Safari */
    backdrop-filter: blur(10px);
    position: fixed; 
    width: 100%; 
    top: 0; 
    z-index: 100;
}
header nav {
    width: 85%;
    margin: 0 auto;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 0;
}
header nav ul li {
    align-items: center;
    display: inline-flex; 
    padding: 0px 15px;
}
header nav ul li a {
    color: #1f1f1f;
    border-radius: 5px;
    text-decoration: none;
    display: flex;
    transition: background-color 0.3s ease;
}
header nav ul li a:hover {
    color: #616161;
}
.menu-icon {
    display: none;
    z-index: 1000;
}
#menu-toggle {
    display: none;
}
.icon-text {
    display: none; 
    margin-left: 6px; /* small spacing between icon and text */
}
.name {
    font-size: 1.7em;
    font-weight: 600;
    margin: 0px 0px;
    margin-right: auto;
    padding: 0px 0px;
}
  
@media (max-width: 800px) {
    .name {
        padding: 5px 15px;
        font-size: 1.1em;
    }
    header nav {
        display: flex;
        align-items: center;
        position: relative;
    }
    .menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0;
        padding: 0 5vw;
        margin: 0;
        font-size: 1.6em;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    }
  
    .menu-icon {
        margin-left: auto;
        display: block;
        cursor: pointer;
        font-size: 2.5rem;
        padding: 22px;
    }
    /* Hide all other li elements initially */
    .menu li:not(.name) {
        display: none;
    }
    /* When menu-toggle is checked, show the menu */
    #menu-toggle:checked ~ .menu {
        display: flex;
        background-color: #fff;
    }
    /* When menu is visible, show all li elements except .name */
    #menu-toggle:checked ~ .menu li:not(.name) {
        display: block;
        padding: 10px 20px;
    }
    .menu li a {
        display: block;
        padding: 10px 0;
        line-height: 40px;
    }
    .icon-text {
        display: inline-block;
    }
  }